{
    "development": {
        "server_port": 5700,
        "api_url": "/api",
        "dsn": ""
    },
    "production": {
        "server_port": 5700,
        "api_url": "/api",
        "dsn": ""
    }
}