<div class="container">
  <div class="row align-items-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center text-white">
          <h1 class="my-3 display-4 d-none d-lg-inline-block">Verfy</h1>
          <span class="h1 my-3 d-inline-block d-lg-none">Verfy</span>
          <p class="lead mb-3" style="font-size: 16px;">Verfy is an experimental biometric login system to replace username-password authentication schema. 
            You can start to give verfy some knowlegdes about your voice.
            <a href="#" [routerLink]="['/training']" style="color: #cacacc"> Click here to train</a> or
            <a href="#" [routerLink]="['/login']" style="color: #cacacc"> Click here to login</a>
          </p>
      </div>
  </div>
</div>